<style >
body{
       text-align: center;
}
#page{
	width: 960px;
        text-align: left;
	margin: 10px auto 20px auto;
	
}
#sidebar{
	width: 200px;
        float: left;
	border: 1px solid auto;
	
}
#content{
	width: 550px;
        float: left;
	border: 1px solid auto;
	padding: 5px;
	
}
</style>